nav {
    border-bottom: 20px solid #3498DB;
    width: 100%;
    margin-top: 0px;
    border-bottom: 5px solid #dba24a;
    padding: 5px;
    display: flex;    
}
nav ul {
    display: flex;
    text-align: right;    
}
nav ul li {
    list-style-type: none;
    
}
nav ul li a {
    font-size: larger;
    padding: 0px 10px 0 10px;
    margin-right: 0;
    text-transform: uppercase;
    text-decoration: none;
    display: block;
    color: #e1d800;  
}
nav>ul>li>a:hover {
    box-shadow: 0 0 10px black, insert #E8DAEF;
    background: #ce0000;
    color: white;
}
.topnav{
    text-align: right;
}
#logo{
    height: auto;
    width: 70%;
    text-align: center;
}
.contact {
    color: white;
    padding-top: 5%;
}

#message {
    height: 200px;
}

.contact form {
    text-align: center;
    padding-bottom: 10%;
}
  
.contact input {
    margin-bottom: 3%;
    background: transparent;
    color: white;
}
  
.contact textarea {
    background: transparent;
    color: white;
}
  
  
.contact textarea::placeholder, .contact input::placeholder {
    background: transparent;
    color: #fff;
}

.post {
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 2%;
    font-weight: bolder;
}

 .social{
     text-align: center;
     margin-top: 2%;
 }
footer{
   text-align: center;
   margin-left: 10%;
   margin-right: 10%;
   margin-top: 2%;
   margin-bottom:5px;
   font-weight: bolder;
}.container{
    background-color: white;
}
h3{
    text-align: center;

}
.about{
   padding-left: 10%;
   padding-right: 10%;
}
